* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: auto;
}
header {
  display: inline-block;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header * {
  height: 50px;
}

h1 {
  width: 500px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 30px;
}

/* NAV ELEMENTS */
nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  width: 100px;
  text-align: center;
  line-height: 50px;
  border: 1px solid black;
  margin-right: -1px;
  border-radius: 10% 10% 0 0;
  background-color: #FAD5a6;
  color: #866768;
}

/* SUB HEADER */
h2 {
  text-align: center;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 10px;
}

/* ITEM SELECTION SECTION */
.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.items img {
  padding: 50px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  transition: background-color 0.5s ease;
}

.items img:hover {
  background-color: #e25f70;
}

.text {
  padding: 20px 200px;
}

/* RESULTS CHART */
#vote-chart {
  border: 1px solid black;
  margin-top: 20px;
  display: none;
  height: 100px;
  width: 100%;
  height: 500px;
}

/* RESULTS TABLE */
table {
  margin: auto;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #4c3841;
  color: #fbb79e;
}

tr:nth-child(odd) {
  background-color: #fbb79e;
  color: #4c3841;
}

tr:nth-child(even) {
  background-color: #FAD5a6;
  color: #866768;
}

table img {
  height: 100px;
  width: 100px;
  padding: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  height: 50px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}

/* COLOR PALLET */
.lighttest {
  background-color: #FAD5a6;
  color: #866768;
}

.darkest {
  background-color: #4c3841;
  color: #fbb79e;
}

.light {
  background-color: #fbb79e;
  color: #4c3841;
}

.dark {
  background-color: #866768;
  color: #FAD5a6;
}

.accent {
  background-color: #e25f70;
  border: 1px solid #e25f70;
}
