* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: auto;
}
header {
  display: inline-block;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header * {
  height: 50px;
}

h1 {
  width: 500px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 30px;
}

/* NAV ELEMENTS */
nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  width: 100px;
  text-align: center;
  line-height: 50px;
  border: 1px solid black;
  margin-right: -1px;
  border-radius: 10% 10% 0 0;
}

/* SUB HEADER */
h2 {
  text-align: center;
  font-size: 1.5em;
  border: 1px solid black;
  padding: 10px;
}

/* ITEM SELECTION SECTION */

.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.items img {
  padding: 50px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.text {
  padding: 20px 200px;
}

/* RESULTS CHART */
#vote-chart {
  border: 1px solid black;
  margin-top: 20px;
  display: block;
  height: 100px;
  width: 100%;
  height: 500px;
}

/* RESULTS TABLE */
table {
  margin: auto;
}

th {
  background-color: grey;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  width: 150px;
}


table img {
  height: 50px;
  width: 50px;
}

/* FOOTER */
footer {
  text-align: center;
  height: 50px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}
